<h1 class ="usersTitle"> All the details of a post from specified user </h1>
<div class = "userProfile postDetails" >
  <div class = "postInformation">
    <div>
      <h2> <%= @post.title %> by <%= @user.name %> </h2>
      <div class = "counters">
        <span> 
          Comments: <%= @post.comments_counter == nil ?  0 : @post.comments_counter  %>
        </span>
        ,
        <span> 
          Likes: <%= @post.likes_counter == nil ? 0 : @post.likes_counter  %>
        </span>
      </div>
    </div>
      <p>
        <%= @post.text %>
      </p>
  </div>
  <div class="commentAndLike" >
    <%= form_with model: Comment, url: create_comment_path(user_id: current_user.id, post_id: @post.id), method: :post do |form| %>
      <%= form.text_field :text %>
      <%= form.submit "Add Comment" %>
    <% end %>
  
    <%= form_with model: Like, url: create_like_path(user_id: current_user.id, post_id: @post.id), method: :post do |form| %>
      <%= form.submit "Like post" %>
    <% end %>
  </div>
  <div class= "postComments">
    <% @post.comments.each do |comment| %>
      <div class="postComment" >
        <p>
          <%= comment.author.name %>
          :
          <%= comment.text %>
        </p>
        <% if can? :destroy, comment %>
          <button>
          <%= link_to 'X', destroy_user_comment_path(comment.id) , data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                      } %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="button_holder">
    <% if can? :destroy, @post%>
    <button>
        <%= link_to 'Delete post', destroy_user_post_path(@user,@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %>
    </button>
    <% end %>
  </div>
  <a href="<%= user_posts_path(@user.id) %>">Back to all the posts</a>
</div>